<!DOCTYPE html>
<html>
<head>
  <title>Feature flags</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "feature_flags/main" %>
</head>
<body>

  <% flash.each do |key, message| %>
    <p class="#{key}"><%= message %></p>
  <% end %>
  <%= yield %>

</body>
</html>
